<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new Quotes</title>
</head>
<body>
    <form method="Post" action="/Quotes">
    <h1> New Quotes </h1>
    

    <h3> Select category :  </h3>
    <select name ="category" id="category">
      <option> Select by  category</option>
      <option value="Inspiration" > Inspiration</option>
      <option value="Success" > Success</option>
      <option value="Growth" > Growth</option>
      <option value="Motivation" > Motivation</option>
      
    </select>
    <br>
    <label for="author">Author : </label>
    <input type="text"  placeholder = "Enter Quote Author" id ="author"  name="author">
      <br>
      <br>
        <label for="Quote"> Write your  Quote : </label>
        <br>
        
        <textarea id ="Quote" placeholder="Write Quote" name="text"></textarea>
        <button> Submit Quote</button>
    </form>
</body>
</html>